@font-face {
    font-family: nokia;
    src: url(display/fonts/nokiafc22.ttf);
}

html {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

body {
    background-color: #29497c;
}

.lg {
    display: block;
    margin: auto;
    width: 56%;
}
